
@font-face {
  font-family: 'morris9';
  src: url('morris9.eot?#iefix') format('embedded-opentype'),  url('morris9.woff') format('woff'), url('morris9.ttf')  format('truetype'), url('morris9.svg#morris9') format('svg');
  font-weight: normal;
  font-style: normal;
}
